@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.labone-page {
  .b1-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: var(--primary-color);

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: lighter;
  }

  .b1-header p {
    text-align: left;
    font-size: 22px;
    margin: 0;
    color: var(--font-color);
  }

  .b1-under-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: var(--secondary-color);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid var(--border-color);

    .b1-under-header-image {
      max-width: 50px;
      height: auto;
      margin-right: 15px;

      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .b1-dropdown-menus {
      display: flex;
      align-items: center;
      margin-left: auto;

      .b1-dropdown {
        padding: 10px 20px;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 30px;
        font-family: inherit;
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;
        width: 36%;

        &:hover {
          background-color: #ffa94d;
        }
      }
    }

    .b1-hamburger-icon {
      display: none;
      cursor: pointer;
      margin-left: 10px;
    }

    .b1-dropdown-menus {
      display: flex;
      align-items: right;
      align-self: right;
      .b1-dropdown {
        padding: 10px 20px;
        margin-left: 10px;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 30px;
        color: var(--font-color);
        font-family: inherit;
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;
        width: 36%;

        &:hover {
          background-color: #ffa94d;
        }
      }
    }

    .dark_mode {
      margin-top: -20px;
      margin-right: 20px;

      .dark_mode_label {
        width: 65px;
        height: 30px;
        position: relative;
        display: block;
        background: #ebebeb;
        border-radius: 200px;
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
          inset 0px -5px 15px rgba(255, 255, 255, 0.4);
        cursor: pointer;
        transition: 0.3s;

        &:after {
          content: "";
          width: 25px;
          height: 25px;
          position: absolute;
          top: 3px;
          left: 3px;
          background: linear-gradient(180deg, #ffcc89, #d8860b);
          border-radius: 180px;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          transition: 0.3s;
        }

        &:active:after {
          width: 30px;
        }

        svg {
          position: absolute;
          width: 20px;
          top: 5px;
          z-index: 100;

          &.sun {
            left: 5px;
            fill: #fff;
            transition: 0.3s;
          }

          &.moon {
            left: 40px;
            fill: #7e7e7e;
            transition: 0.3s;
          }
        }
      }

      .dark_mode_input {
        width: 0;
        height: 0;
        visibility: hidden;

        &:checked + .dark_mode_label {
          background: #242424;

          &:after {
            left: 62px;
            transform: translateX(-100%);
            background: linear-gradient(180deg, #777, #3a3a3a);
          }

          svg.sun {
            fill: #7e7e7e;
          }

          svg.moon {
            fill: #fff;
          }
        }
      }
    }
  }

  .b1-media-section {
    display: none;
  }

  .b1-content-wrapper {
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
  }

  .b1-content-nav {
    width: 35vh;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid var(--border-color);
    background-color: var(--secondary-color);

    h1 {
      color: var(--about-color);
      text-align: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: lighter;
      font-size: 34px;
    }

    ul {
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      text-align: center;
      margin-top: 50px;

      li {
        margin-bottom: 10px;
        background-color: transparent;
        padding: 10px 0 10px;
        border-radius: 10px;
        a {
          text-decoration: none;
          font-size: 20px;
          color: #fff;
          display: block;
        }

        &.selected {
          background-color: #ffa94d;
        }
      }
    }
  }

  .main-content {
    scroll-behavior: smooth;
    display: flex;
    width: 65vh;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    background-color: var(--secondary-color);
    overflow-y: auto;
    position: relative;

    img {
      cursor: pointer;
      width: 2%;
      height: auto;
      max-width: 100%;
      object-fit: contain;
      display: block;
    }

    h1 {
      color: var(--about-color);
      text-align: left;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: lighter;
      font-size: 32px;
      justify-content: space-between;
    }

    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-align: left;
      color: #fff;
      font-size: 22px;
      word-spacing: 0.2vh;
      line-height: 130%;
    }

    .c-1 {
      width: 100%;
      align-items: center;
      padding: 20px 0;

      h2 {
        color: var(--about-color);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: lighter;
        font-size: 32px;
        text-align: left;
        margin-bottom: 50px;

        p {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          text-align: left;
          text-indent: 1.5em;
        }
      }
    }

    .bottom-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;
    }

    .right-group,
    .left-group {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .main-image {
      width: 50%;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .b1-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: var(--primary-color);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    word-spacing: 3px;

    p {
      color: var(--font-color);
      font-size: 20px;
      font-weight: lighter;
      opacity: 0.8;
      margin: 0;
      text-align: left;
    }

    .b1-footer-images {
      display: flex;
      align-items: center;
    }

    .b1-footer-images a {
      margin-left: 10px;
      margin-right: 10px;
    }

    .b1-footer-images img {
      max-width: 25px;
      height: auto;
      transition: transform 0.3s ease;
      margin-right: 20px;
    }

    .b1-footer-images img:hover {
      transform: scale(1.3);
    }
  }
}
